<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="LogoUserName" value="SALESART" />
    <add key="LogoPassword" value="0258" />
    <add key="CompanyCode" value="412" />
    <add key="Season" value="14" />
    <add key="DistributorId" value="128" />
    <!--<add key="DistributorId" value="47" /> XML test Etmek için kullanılan bir Distributor Idsi, devamlı lazım oluyor-->
    <add key="Department" value="" />
    <add key="Division" value="" />
    <add key="useCypheCode" value="false" />
    <add key="YetkiKodu" value="E" />
    <!--Tahsilat için eklendi-->
    <add key="CashCode" value="100" />
    <!--Tahsilat için eklendi-->
    <add key="TransferCreditCartToCase" value="false" />
    <add key="useDispatch" value="false" />
    <add key="useCollection" value="false" />
    <add key="useInvoice" value="true" />
    <add key="useDefaultNumber" value="false" />
    <add key="useShortDate" value="false" />
    <add key="useShipCode" value="false" />
    <add key="isProducerCode" value="true" />
    <add key="isBarkod" value="false" />
    <add key="XMLTransfer" value="false" />
    <!--<add key="XMLTransfer" value="true" /> XmlTransfer True ise Faturaların XML formatında çıktısı alınabileceğini belirtir.-->
    <add key="XMLTransferForOrder" value="false" />
    <add key="integrationForMikroERP" value="false" />
    <add key="shipAgentCode" value="" />
    <add key="campaignLineNo" value="" />
    <add key="orderTransferToLogo" value="false" />
    <add key="affectRisk" value="0" />
    <!-- erp deki birim seti kodu referans olarak yazılmalı-->
    <add key="ADET" value="ADET" />
    <add key="KOLI" value="KOLİ" />
    <add key="KOLİ" value="KOLI" />
    <add key="HİZMET_ADET" value="ADET" />
    <add key="HİZMET_AD" value="ADET" />
    <add key="logoConnection" value="Server=172.16.40.20;Database=AYK2008;Persist Security Info=True;User ID=PG;Password=PG2007;" />
    <add key="URL" value="https://api.salesart.io" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
