<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LogoUserName" value="SALESART" />
    <add key="LogoPassword" value="0258" />
    <add key="CompanyCode" value="412" />
    <add key="Season" value="10" />
    <add key="DistributorId" value="42" />
    <!--<add key="DistributorId" value="47" /> XML test Etmek için kullanılan bir Distributor Idsi, devamlı lazım oluyor-->
    <add key="Department" value="0" />
    <add key="useCypheCode" value="false" />
    <add key="YetkiKodu" value="E" />
    <add key="useDispatch" value="false" />
    <add key="useDefaultNumber" value="false" />
    <add key="useShortDate" value="false" />
    <add key="useShipCode" value="false" />
    <add key="isProducerCode" value="false" />
    <add key="isBarkod" value="false" />
    <add key="XMLTransfer" value="false" />
    <!--<add key="XMLTransfer" value="true" /> XmlTransfer True ise Faturaların XML formatında çıktısı alınabileceğini belirtir.-->
    <add key="XMLTransferForOrder" value="false" />
    <add key="integrationForMikroERP" value="false" />
    <add key="shipAgentCode" value="" />
    <add key="campaignLineNo" value="" />
    <add key="orderTransferToLogo" value="false" />
    <!-- erp deki birim seti kodu referans olarak yazılmalı-->
    <add key="ADET" value="AD" />
    <add key="AD" value="AD" />
    <add key="KOLI" value="KL" />
    <add key="KL" value="KL" />
    <add key="PAKET" value="PK" />
    <add key="PK" value="PK" />
    <add key="HİZMET_ADET" value="ADET" />
    <add key="HİZMET_AD" value="ADET" />
    <add key="logoConnection" value="Server=190.10.10.6;Database=MikroDB_V16_77_95_13;Persist Security Info=True;User ID=Dlk;Password=Dlk1212;" />
    <add key="URL" value="https://api.salesart.dev" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>