<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LogoUserName" value="logo" />
    <add key="LogoPassword" value="logo" />
    <add key="CompanyCode" value="007" />
    <add key="Season" value="01" />
    <add key="DistributorId" value="21" /> 
    <add key="isBarkod" value="FALSE" />  <!-- smrlerde ürünler barkoddan okunuyor true olmalı-->
    <add key="isProducerCode" value="false" />  <!-- dgus ürünler barkoddan okunuyor true olmalı-->
    <add key="Department" value="0" />
    <add key="useCypheCode" value="FALSE" />   <!-- smrlerde yetki kodu Erz E , Mard M-->
    <add key="YetkiKodu" value="M" />
    <add key="useDispatch" value="FALSE" />
    <add key="useDefaultNumber" value="false" />
    <add key="useShortDate" value="false" />  <!-- yalınlarda-->
    <add key="useShipCode" value="false" />  <!-- sistemde sevkiyat adresi doğru olanlar true olabilir-->
    <add key="XMLTransfer" value="false" />
    <add key="XMLTransferForOrder" value="FALSE" />
    <add key="integrationForMikroERP" value="false" />
    <add key="shipAgentCode" value="" />
    <add key="campaignLineNo" value="" />
    <add key="orderTransferToLogo" value="false" />
    <add key="ADET" value="ADET" />   <!-- erp deki birim seti kodu referans olarak yazılmalı-->
    <add key="AD" value="ADET" />
    <add key="KOLI" value="KL" />
    <add key="KL" value="KL" />
    <add key="PAKET" value="PK" />
    <add key="PK" value="PK" />
    <!--<add key="logoConnection" value="Server=KIZILBENTSRV\SQLEXPJUMP;Database=MikroDB_V16_2016;Persist Security Info=True;User ID=peros;Password=Peros1453;" /> -->
    <add key="logoConnection" value="Server=192.168.0.16;Database=TIGERDB;Persist Security Info=True;User ID=rapor;Password=rapor;" /> 
     <add key="URL" value="http://188.166.96.251:9005" />  
    <!--<add key="URL" value="http://172.16.40.17:9005" />-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>